.state_title {
    color: blue;
    font-weight: bold;
    font-size: 1.2em;
}

.state_card {
    border-top: 1px solid black;
}

.metro_card_title {
    /* background-color: rgb(255 245 174); */
    background-color: rgb(180, 230, 255);
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid rgb(100, 100, 100);
    border-left: 1px solid rgb(100, 100, 100);
    border-right: 1px solid rgb(100, 100, 100);
    padding-left: 10px;
}

.metro_card {
    background-color: 2px solid blue;
}

.metro_card_content {
    background-color: rgb(240, 245, 255);
    padding-bottom: 20px;
    padding: 10px;
}

.metro_table {

}


.metro_table thead {
    font-size: 0.9em;
}

.metro_table {
    font-size: 0.8em;
}

.table_col_attribute {
    width: 200px;
}

.table_col_total {
    width: 100px;
}

.table_col_total_rank {
    width: 50px;
}

.table_col_per_capita {
    width: 70px;
}

.table_col_per_capita_rank {
    width: 50px;
}

.pie_chart_div {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid rgb(0, 18, 183);
    border-radius: 0.5em;
    padding: 10px;
    background-color: white;
}

.stacked_bar_chart_div {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid rgb(0, 18, 183);
    border-radius: 0.5em;
    padding: 10px;
    background-color: white;
}

.time_series_div {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid rgb(0, 18, 183);
    border-radius: 0.5em;
    padding: 10px;
    background-color: white;
}